<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Back to list", articles_path %>

<%= link_to "Update #{@article.title}", edit_article_path(@article.id) %>

